<header class="navbar card">
  <div class="container nav">
    <a routerLink="/" class="logo">NICA THE WAVES</a>
    <nav class="links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
      <a routerLink="/conciertos" routerLinkActive="active">Conciertos</a>
      <a routerLink="/ntw" routerLinkActive="active">N&tW</a>
      <a routerLink="/media-lyrics" routerLinkActive="active">Media / Lyrics</a>
      <a routerLink="/contrataciones" routerLinkActive="active">Contrataciones</a>
    </nav>
  </div>
</header>
